@import url(../vendor/normalize.css);
@import url(../vendor/fonds/fonds.css);
body {
    font-family: 'Inter', 'Arial', sans-serif;
}

.page {
    background-color: #2A2C2F;
}

.header {
    padding: 16px 16px 0;
    min-width: 288px;
    min-height: 42px;
    display: flex;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 28px 24px 0;
        min-width: 720px;
        min-height: 52px;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 28px 48px 0;
        min-width: 928px;
    }
}

.header__logo {
    min-width: 142px;
    min-height: 42px;
    margin-right: 84px;
}

@media screen and (min-width: 768px) {
    .header__logo {
        min-width: 176px;
        min-height: 52px;
        margin-right: 467px;
    }
}

@media screen and (min-width: 1024px) {
    .header__logo {
        margin-right: 675px;
    }
}

@media screen and (min-width: 1280px) {
    .header__logo {
        margin-right: 931px;
    }
}

.header__lang-link {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: right;
    transition: opacity .5s ease 0.5s;
    margin: 14px 0 8px;
}

.header__lang-link:last-child {
    text-decoration-line: none;
    margin-left: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 28px;
    }
}

.lead {
    margin-top: 48px;
}

@media screen and (min-width: 1280px) {
    .lead {
        margin-top: 56px;
    }
}

.lead__title {
    margin: 0 16px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .lead__title {
        margin: 0 24px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
        margin: 0 152px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        margin: 0 280px;
    }
}

.lead__subtitle {
    margin: 16px 16px 0;
    min-width: 288px;
    min-height: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin: 32px 64px 0;
        font-size: 30px;
        line-height: 36px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__subtitle {
        margin: 32px 192px 0;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        margin: 32px 320px 0;
    }
}

.lead__image {
    width: 100%;
    height: 62.5%;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__image {
        width: calc(100% - 48*2px);
        margin: 56px 48px 0;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        width: calc(100% - 148*2px);
        margin: 56px 148px 0;
    }
}

.lead__caption {
    margin: 8px 0 0 16px;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    min-width: 158px;
    min-height: 14px;
}

@media screen and (min-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__caption {
        margin-left: 148px;
    }
}

.intro {
    margin: 64px 16px 0;
}

@media screen and (min-width: 768px) {
    .intro {
        margin: 88px 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        margin: 92px 48px 0;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        margin: 92px 148px 0;
    }
}

.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

.intro__text {
    margin-top: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

.intro__list {
    margin-top: 34px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .intro__list {
        margin-top: 33px;
    }
}

.intro__list-text {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.intro__list-text_span-accent {
    font-weight: normal;
}

.photo-grid {
    margin: 64px 16px 0;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        margin: 88px 24px 0;
        display: grid;
        grid-template-columns: 352px 352px;
        grid-template-rows: repeat(5, 264px);
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        margin: 92px 48px 0;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 284px);
        grid-template-rows: repeat(3, 213px);
        gap: 16px;
    }
}

.photo-grid__item {
    margin: 0 0 12px;
    width: 100%;
    height: 75%;
}

.photo-grid__item:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .photo-grid__item {
        margin: 0;
        height: 100%;
    }
}

.places {
    margin: 64px 0 66px;
}

@media screen and (min-width: 768px) {
    .places {
        margin: 88px 24px 90px;
        display: grid;
        gap: 73px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
        margin: 92px 48px 92px;
        gap: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        margin: 92px 148px 92px;
    }
}

.place {}

@media screen and (min-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: 340px 352px;
        grid-template-rows: 46px 340px;
        grid-template-areas: "place__title place__website" "place__image place__paragraphs" "place__image place__paragraphs";
        gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: 440px 456px;
        grid-template-rows: 152px 440px;
        gap: 48px 32px;
    }
}

@media screen and (min-width: 1024px) {
    .place:nth-of-type(2) {
        grid-template-rows: 76px 440px;
    }
}

@media screen and (min-width: 1024px) {
    .place:nth-of-type(3) {
        grid-template-rows: 76px 440px;
    }
}

@media screen and (min-width: 1024px) {
    .place:nth-of-type(5) {
        grid-template-rows: 76px 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: 460px 460px;
        grid-template-rows: 152px 460px;
        gap: 48px 40px;
    }
}

.place:not(:first-child) {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    .place:not(:first-child) {
        margin-top: 0;
    }
}

.place__title {
    margin: 0 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .place__title {
        grid-area: place__title;
        margin: 0;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
    }
}

.place__website {
    margin: 32px 16px 0;
}

@media screen and (min-width: 768px) {
    .place__website {
        grid-area: place__website;
        margin: 0;
        align-self: end;
    }
}

.place__website_url-heading {
    margin: 0 0 12px;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__website_link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity .5s ease 0.5s;
}

.place__website_link:hover {
    opacity: 0.8;
}

.place__image {
    margin: 32px 0 0;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .place__image {
        margin: 0;
        grid-area: place__image;
    }
}

.place__paragraphs {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .place__paragraphs {
        grid-area: place__paragraphs;
    }
}

.place__paragraph {
    margin: 32px 16px 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        font-size: 18px;
    }
}

.place__paragraph:nth-of-type(2) {
    margin: 0 16px 0;
}

@media screen and (min-width: 768px) {
    .place__paragraph:nth-of-type(2) {
        margin: 25px 0 0;
    }
}

.cover {
    background-image: url(../sprint-3-images/cover-trains.jpg);
    width: 100%;
    height: 62.5vw;
    background-size: cover;
    background-position: center;
    position: relative;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    .cover {
        max-width: 1184px;
        max-height: 740px;
        margin: 0 auto;
    }
}

.cover::before {
    background-color: #2A2C2F;
    opacity: 0.3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover:hover::before {
    opacity: 0.8;
}

.cover__title {
    padding: 33px 16px 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

@media screen and (min-width: 768px) {
    .cover__title {
        padding: 115px 104px 0;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__title {
        padding: 195px 232px 0;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        padding: 245px 312px 0;
    }
}

.cover__subtitle {
    margin: 16px 16px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        margin: 32px 204px 0;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__subtitle {
        margin: 32px 332px 0;
    }
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        margin: 32px 412px 0;
    }
}

.footer {
    margin: 64px 16px 0;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .footer {
        margin: 88px 24px 0;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        margin: 92px 48px 0;
    }
}

.footer__link {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration-line: none;
    transition: opacity .5s ease 0.5s;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
        margin-right: 18px;
    }
}

@media screen and (min-width: 768px) {
    .footer__link:last-of-type {
        margin-right: 0;
    }
}

.footer__link:not(:first-child) {
    margin-top: 32px;
}

@media screen and (min-width: 768px) {
    .footer__link:not(:first-child) {
        margin-top: 0;
    }
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    margin: 48px 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        margin: 0 0 0 69px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .footer__copyright {
        margin: 0 0 0 277px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__copyright {
        margin: 0 0 0 533px;
    }
}