.cover__title {
    margin: 0;
    padding: 33px 16px 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

@media screen and (min-width: 768px) {
    .cover__title {
        padding: 115px 104px 0;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__title {
        padding: 195px 232px 0;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        padding: 245px 312px 0;
    }
}