.place:not(:first-child) {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: 340px 1fr;
        grid-template-areas: "place__title place__website" "place__image place__paragraphs" "place__image place__paragraphs";
        gap: 48px 28px;
    }
    .place:not(:first-child) {
        margin-top: 73px;
    }
    .place:last-child {
        margin-top: 72px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
    .place:not(:first-child) {
        margin-top: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: 460px 1fr;
        gap: 48px 40px;
    }
}